.link {
	text-decoration: none;
}

.task {
	display: flex;
	margin: 10px 0;
}

.completed {
	margin-right: 20px;
	min-height: 30px;
	min-width: 30px;
}

.title {
	margin-right: auto;
	color: black;
	overflow: hidden;
}

.taskOption {
	height: 30px;
	width: 30px;
	background-color: transparent;
	margin-left: 10px;
	font-size: 25px;
	margin-bottom: 10px;

	border: none;
	cursor: pointer;
}

.taskOption:hover {
	background-color: lightblue;
	padding: 1px;
	border-radius: 50%;
}
