.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25px;
	height: 25px;
	border: 5px solid gray;
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 4s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(270deg);
	}
	50% {
		transform: rotate(540deg);
	}
	75% {
		transform: rotate(810deg);
	}
	100% {
		transform: rotate(1080deg);
	}
}
