.task {
	display: flex;
	margin: 10px 0;
}

.completed {
	margin-right: 20px;
	min-height: 30px;
	min-width: 30px;
}

.title {
	color: black;
	margin: auto auto auto 0;
}

.taskOption {
	height: 30px;
	width: 30px;
	border: none;
	background-color: transparent;
	margin-left: 10px;
	cursor: pointer;
	font-size: 25px;
	margin-bottom: 10px;
}
