.App {
	max-width: 768px;
	margin: 20px auto 20px auto;
	border: solid 2px black;
	border-radius: 5px;
	min-height: 95vh;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 22px;
	color: lightblue;
	padding: 0 20px 20px 20px;
	z-index: 1;
}

@media (max-width: 768px) {
	.App {
		margin: 20px;
		font-size: 20px;
	}
}

.pageTitle {
	margin: 20px auto;
	text-align: center;
	text-decoration-line: underline;
}
