.App {
	max-width: 768px;
	margin: 20px auto;
	border: solid 0.5px black;
	border-right: solid 5px;
	border-left: solid 5px;
	border-radius: 10px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 22px;
	color: gray;
	padding: 20px;
}

@media (max-width: 768px) {
	.App {
		margin: 10px;
		font-size: 20px;
		padding: 10px;
	}
}

.pageTitle {
	margin: 0 auto 20px auto;
	text-align: center;
	text-decoration-line: underline;
	color: lightblue;
}

.button {
	background-color: lightblue;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 18px;
	padding: 5px;
}

.backBtn {
	padding: 10px 20px 10px 10px;
	display: block;
	margin-bottom: 10px;
}

.button:hover {
	background-color: rgb(143, 205, 225);
}

.button:disabled {
	background-color: rgb(173, 191, 197);
}
